body {
    background-image: linear-gradient(#FF7E5F, #FEB47B);
    min-height: 100vh;
    padding-bottom: 2rem;
}

/* TOP BAR */

#top-bar {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 1100px){
    #top-bar  {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 20px;
    }
}

#logo-div {
    /* background-color: red; */
    padding-top: 20px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 100px 350px;
}

@media (max-width: 1100px){
    #logo-div  {
        grid-template-columns: 1fr;
        padding-left: 0;
        justify-content: center;
        align-content: center;
    }
}

#logo {
    width: 100px;
    height: 100px;
}
@media (max-width: 1100px){
    #logo {
        align-self: center;
        justify-self: center;
        margin-bottom: 20px;
    }
}

#titles-contianer {
    padding-top: 25px;
    padding-left: 20px;
}
@media (max-width: 1100px){
    #titles-contianer  {
        padding-top: 0;
        padding-left: 0;
    }
}

#main-title {
    color: white;
}

#sub-title {
    color: white;
    font-weight: 500;
}

@media (max-width: 1100px){
    #main-title {
        text-align: center;
    }
    #sub-title {
        text-align: center;
    }
}

#social-div {
    height: 140px;
    width: 400px;
    /* background-color: blue; */
    justify-self: end;
    padding-right: 50px;
    padding-top: 20px;
}

@media (max-width: 1100px){
    #social-div {
        display: none;
    }
}

#top-social-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
}

.media-button {
    display: grid;
    justify-content: center;    
    align-items: center;
}

.bottom-icon {
    height: 55px;
    width: 55px;
}

/* CONTROLS */

#controls-container {
   display: none;
}
@media (max-width: 1100px){
    #controls-container  {
        display: grid;
        justify-content: center;
        align-content: center;
        padding-bottom: 20px;
    }
}

#controler-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.control-btn {
    color: white;
    cursor: pointer;
    text-align: center; 
    padding: 5px 10px
}

.control-active {
    color: #FE966B;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

/* MAIN SECTION */

#main-wrapper {
 display: grid;
 grid-template-columns: 4fr 2fr;
 grid-column-gap: 2rem;
}
@media (max-width: 1100px){
    #main-wrapper {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
}

.white-box {
    /* background-color: white; */
    border-radius: 20px;
    padding-bottom: 1rem;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.main-box {
    width: 100%;
}
@media (max-width: 500px){
    #preguntas-box {
        display: grid;
        justify-content: center;
        text-align: center;
    }
}

/* PREGUNTAS */

#preguntas-title-main {
    color: white;
    margin-bottom: 30px;
    font-size: 1.8rem;
}
@media (max-width: 1100px){
    #preguntas-title-main {
        display: none;
    }
}

#preguntas-white-box{
    width: 100%;
    background-color: white;
    padding-top: 20px;
    margin-bottom: 2rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media (max-width: 500px){
    #preguntas-white-box {
        width: 380px;
    }
}
@media (max-width: 400px){
    #preguntas-white-box {
        width: 340px;
    }
}

.preguntas-div {
    margin-bottom: 30px;
}

.preguntas-title-box {
    background-image: linear-gradient(#4BCEEC, #14B1D5);
    height: 70px;
    width: 60%;
    border-radius: 0 20px 20px 0;
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}

.preguntas-title-box-reverse {
    margin-left:auto;
    border-radius: 20px 0 0 20px;
    grid-template-columns: 80px 1fr;
}
@media (max-width: 1400px){
    .preguntas-title-box {
        width: 80%;
        height: 60px;
        grid-template-columns: 1fr 60px;
    }
    .preguntas-title-box-reverse {
        grid-template-columns: 60px 1fr;
    }
}

.preguntas-text-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
}

.preguntas-title {
    color: white;
    font-size: 1.8rem;
}
.long-title {
    font-size: 1.6rem;
    line-height: 22px;
    text-align: center;
}
@media (max-width: 1100px){
    .preguntas-title {
        font-size: 1.4rem;
    }
    .long-title {
        font-size: 1.4rem;
        line-height: 18px;
        text-align: center;
    }
}
@media (max-width: 700px){
    .long-title {
        font-size: 1.2rem;
        line-height: 18px;
        text-align: center;
    }
}

.preguntas-icon {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}
@media (max-width: 700px){
    .preguntas-icon {
        height: 40px;
        width: 40px;
    }
}

.preguntas-content-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.preguntas-content-container-reverse {
    grid-template-columns: 3fr 2fr;
}

@media (max-width: 1400px){
    .preguntas-content-container {
        grid-template-columns: 1fr;
    }
}

.preguntas-img-wrap {
    display: grid;
    justify-content: center;
    align-content: center;
}
@media (max-width: 500px){
    .preguntas-img-wrap {
        padding: 0 20px;
    }
}

.preguntas-img {
    width: 180px;
    height: auto;
}
@media (max-width: 1400px){
    .preguntas-img {
        display: none;
    }
}

.preguntas-content-wrap {
    padding-top: 20px;
    padding-right: 30px;
}

.preguntas-content-wrap-reverse {
    padding-left: 30px;
}
@media (max-width: 992px){
    .preguntas-content-wrap {
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px;
    }
    .preguntas-content-wrap-reverse {
        padding-left: 20px;
    }
}

.preguntas-content-text {
    color: #5c5c5c;
    padding-bottom: 10px;
    text-align: justify;
    line-height: 20px;
}
@media (max-width: 1100px){
    .preguntas-content-text {
       font-size: 0.95rem;
    }
}

@media (max-width: 1100px){
    #cursos-box {
        display: grid;
        justify-content: center;
        align-content: center;
    }
    #cursos-white-box {
        display: grid;
        justify-content: center;
        align-content: center;
    }
}


#cursos-title {
    color: white;
    margin-bottom: 30px;
    font-size: 1.8rem;
}
@media (max-width: 1100px){
    #cursos-title {
       display: none;
    }
}

@media (max-width: 1100px){
    #cursos-box {
       display: none;
    }
}



/* CURSOS CARD */

.curso-card-body {
    width: 400px;
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: #FAF9F9;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@media (max-width: 500px){
    .curso-card-body {
        width: 380px;
        background-color: #FAF9F9;
    }
}
@media (max-width: 400px){
    .curso-card-body {
        width: 340px;
        background-color: #FAF9F9;
    }
}

.card-title {
    color: #16B0D4;
    letter-spacing: 1px;
    font-size: 1.3rem;
}
@media (max-width: 500px){
    .card-title {
        font-size: 1.2rem;
    }
}
@media (max-width: 400px){
    .card-title {
        font-size: 1rem;
    }
}

.nivel-span {
    color: white;
    background-color: #16B0D4;
    padding: 0 5px;
    border-radius: 5px;
}

.card-content-container {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'dia hora'
    'lugar cupos'
    'precio estado'
    'duracion boton'
    'edad boton';
}

.dia {
    grid-area: dia;
}

.hora {
    grid-area: hora;
}

.lugar {
    grid-area: lugar;
}

.cupos {
    grid-area: cupos;
}

.precio {
    grid-area: precio;
}

.estado {
    grid-area: estado;
}

.duracion {
    grid-area: duracion;
}

.edad {
    grid-area: edad;
}

.boton {
    grid-area: boton;
    display: grid;
    justify-content: center;
    align-content: center;
}

.inner-category-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.category-label {
    color: #FE966B;
    font-size: 1rem;
    font-weight: 500;
}

.category-item {
    text-align: end;
    padding-right: 10px;
    color: #A2A2A2;
    font-size: 0.9rem;
    font-weight: 400;
}
@media (max-width: 400px){
    .category-label {
        font-size: 0.9rem;
    }
    .category-item {
        font-size: 0.8rem; 
    }
}

.curso-btn {
    background-color: #16B0D4;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px 
}

.cerrado-btn {
    background-color: rgb(200, 78, 29);
}

.location-logo {
    display: block;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.no-bot-mar {
    margin-bottom: 0;
}

/* LOWER SOCIAL MEDIA */

#lower-mobile-social {
    display: none;
}

@media (max-width: 500px){
    #lower-mobile-social {
        display: grid;
        /* margin-top: 2rem; */
        margin-bottom: 1rem;
        justify-content: center;
        align-content: center;
    }
    .bottom-icon {
        height: 45px;
        width: 45px;
    }
}

#lower-social-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 330px;
}